.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 16px;
}

.nav__title{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 6px;
    font-size: 16px;
}

.firebase__anchor{
    display: flex;
    align-items: center;
    color: var(--color-gray);
}

.firebase__anchor img{
    width: 30px;
}

.nav__list{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 0 20px;
}

